<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {{ site.course_number }} &middot; {{ site.course_term }}
          </li>
          <li>Carnegie Mellon University</li>
          <li>{{ site.meeting_days }}</li>
          <li>{{ site.meeting_time }} &middot; {{ site.meeting_room }}</li>
          <li><a href="{{ site.zoom_url }}" target="_blank" rel="noopener">Zoom</a></li>
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>&copy; {{ site.course_year }} Carnegie Mellon University.
          <span class="footer-term">Schedule &amp; course materials for {{ site.course_term }} are subject to change</span>
          {{ site.footer_text }}
        </p>
      </div>
    </div>

  </div>

</footer>
