body.dark-mode {
  $text-color:        #eeeeee !global;
  $background-color:  #111111 !global;
  $link-color:        #8ab4f8 !global;
  $header-bg-color:   #222222 !global;
  $footer-bg-color:   #222222 !global;
  $footer-color:      #cccccc !global;

  body {
    background-color: $background-color;
    color: $text-color;
  }

  a {
    color: $link-color;
  }

  header {
    background-color: $header-bg-color;
  }

  footer {
    background-color: $footer-bg-color;
    color: $footer-color;
  }

  // add overrides for any other specific components here
}
